PORT=5000
MONGO_URI=mongodb+srv://tilak:pF6APabq27I4iWNs@cluster0.wamyzco.mongodb.net/shopnest
JWT_SECRET = your_jwt_secret_key_hfgskjghsjkgh

EMAIL_USER= your_email@gmail.com
EMAIL_PASS=16digitpassword

CLOUDINARY_CLOUD_NAME = singup_data
CLOUDINARY_API_KEY = singnup_data
CLOUDINARY_API_SECRET = singup_data
FRONTEND_URL=http://localhost:3000
NODE_ENV=development